# /etc/systemd/system/client.service
[Unit]
Description=Run client at startup
Wants=client.timer

[Service]
Type=oneshot
ExecStart=/home/centos/SE4485-Capstone/client

[Install]
WantedBy=multi-user.target